body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.potrait {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  top: 0;
  left: 0;
  background-image: url(bg-main.png);
  z-index: 10;
  flex-direction: column;
  &-image {
    width: 40%;
    margin: 0 auto 20%;
  }
  &-notice {
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (orientation: landscape) {
  .potrait {
    display: none !important;
  }
  .wrapper {
    opacity: 0 !important;
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(bg-main.png);
  background-size: 100% 100%;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: relative;
  z-index: 1;
  &-border {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    top: 23%;
  }
}

.header {
  &-transmartLogo {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 18vw;
    height: auto;
  }
  &-eventLogo {
    position: absolute;
    top: 0;
    right: 4%;
    width: 18vw;
    height: auto;
  }
}

.footer {
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-image: url(bg-footer.png);
  background-repeat: repeat-x;
  background-position-y: bottom;
  &-logo {
    width: 25vw;
    height: auto;
    position: absolute;
    right: 3%;
    bottom: 16%;
  }
}

.slotMachine {
  flex: 0 0 auto;
  padding: 0 3.5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  &-box {
    height: 34vw;
    width: 100%;
    background-image: url(bg-slotmachine.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
    padding: 11% 18% 13%;
  }
  &-list {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  &-item {
    font-size: 2.45vw;
    padding: 2.35vw 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-action {
    width: 100%;
    align-self: flex-start;
    margin-top: auto;
    padding-bottom: 10%;
    background-image: url(bg-button.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 27vh;
  }
  &-button {
    position: absolute;
    left: calc(50% - 10vw);
    top: -50%;
    width: 20vw;
    background-color: transparent;
    height: 20vw;
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 5rem;
    outline: none;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(button-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:active,
    &.is-pressed {
      background-image: url(button-pressed.png);
    }
    &.is-stop {
      background-image: url(button-stop.png);
    }
    &.is-disabled,
    &:disabled {
      background-image: url(button-off.png);
    }
  }
}

.prize {
  flex: 0 0 auto;
  width: 25%;
  padding-left: 2.5%;
  padding-right: 0;
  height: 42vh;
  margin-top: 8%;
  color: #ffda85;
  text-align: center;
  &-box {
    width: 100%;
    height: 100%;
    background-image: url(bg-prize.png);
    background-size: 100% 100%;
    padding: 20%;
    position: relative;
  }
  &-selectButton {
    width: 8vw;
    border: 2px solid transparent;
    border-radius: 0.5vw;
    padding: 3% 0;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #ffda85;
    margin-top: 8%;
    &.is-hidden {
      display: none;
    }
  }
  &-cancelButton {
    width: 8vw;
    border: 2px solid #ffda85;
    border-radius: 0.5vw;
    padding: 3% 0;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    color: #ffda85;
    margin-top: 8%;
    &.is-hidden {
      display: none;
    }
  }
  &-title {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 8%;
    &.is-blinking {
      animation: blinker 1s linear infinite;
    }
  }
  &-swiper {
    .swiper-slide {
      text-align: center;
      font-size: 2vw;
      font-weight: bold;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #ffda85;
    &.is-hidden {
      display: none;
    }
  }
  .swiper-button-next {
    right: 10%;
  }
  .swiper-button-prev {
    left: 10%;
  }
}

.thumbnail {
  flex: 0 0 auto;
  width: 25%;
  padding-right: 2.5%;
  height: 58vh;
  &-box {
    width: 100%;
    height: 100%;
    background-image: url(bg-thumbnail.png);
    background-size: 100% 100%;
    padding: 5.25vw 1.1vw 5.4vw 0.9vw;
  }
  &-swiper {
    width: 100%;
    height: 100%;
    border-radius: 7%;
    &.is-locked {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 1);
        z-index: 2;
      }
    }
    .swiper-slide {
      padding: 3%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.singleWinner {
  &-name {
    font-size: 3vw;
    font-weight: 900;
    color: #a20202;
    text-transform: uppercase;
    margin-bottom: 5%;
  }
  &-ktp,
  &-phone {
    font-size: 1.5vw;
    margin-bottom: 3%;
    font-weight: 600;
  }
  &-prizeImage {
    width: 100%;
    margin: 5% auto;
  }
  &-prizeName {
    font-weight: 700;
    font-size: 1.4vw;
    text-align: center;
  }
  &-button {
    margin-top: 8%;
    width: 40%;
    border: 2px solid transparent;
    border-radius: 0.5vw;
    padding: 3% 0;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: #2596c4;
  }
  .modal-content{
    background-image: url(bg-popup-winner.png);
    margin: 5vh auto 5vh;
    height: 90vh;
    width: 36vw;
  }
}

.resultWinner{
  &-prizeList{
    display: flex;
    margin-bottom: 4vw;
  }
  &-prizeItem{
    $this: &;
    &.mobil{
      width: 40%;
      padding-left: 10%;
      #{$this}-image img{
        //width: 80%;
        margin: 0 auto;;
      }
    }
    &.motor{
      width: 60%;
      padding-left: 6%;
      padding-right: 2%;
      #{$this}-image img{
        width: 50%;
        margin: 0 auto;;
      }
    }
    &-image{
      height: 15vw;
      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    &-name{
      font-weight: 700;
      font-size: 1.5vw;
      letter-spacing: 0.75px;
      color: #003788;
      margin: 0.5vw 0 1vw;
    }
    &-phone{
      font-weight: 700;
      font-size: 1.15vw;
      letter-spacing: 0.75px;
      color: #003788;
      margin: 0.5vw 0 1vw;
    }
    &-ktp{
      font-size: 0.85vw;
    }
    &-winnerList{
      display: flex;
      #{$this}-winner{
        font-size: 1vw;
        margin-top: 0.5vw;
      }
    }
    &-winnerItem{
      width: 33.33%;
      padding: 0 1%;
    }
    &-winner{
      background: #FFEAB2 0% 0% no-repeat padding-box;
      border-radius: 15px;
      font-weight: 700;
      font-size: 1.5vw;
      letter-spacing: 0.75px;
      color: #003788;
      padding: 0.5vw 0
    }
  }
  &-title,
  &-date{
    font-weight: 700;
    font-size: 2.2vw;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    text-transform: uppercase;
  }
  &-date{
    
  }
  .modal-content{
    background-image: url(bg-winner-summary.png);
    margin: 2vw auto 1vw;
    height: 49.25vw;
    width: 96vw;
  }
  .modal-body{
    text-align: center;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Body */
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6%;
  flex-direction: column;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
