<footer class="footer">
	<div class="footer-site">
		<div class="container">
			<div class="footer-site-list">
				<div class="footer-site-heading">Customer Service</div>
				<a class="footer-site-link" href="#">Contact Us</a>
				<a class="footer-site-link" href="#">FAQS</a>
				<a class="footer-site-link" href="#">Payment Method</a>
				<a class="footer-site-link" href="#">Delivery Information</a>
				<a class="footer-site-link" href="#">Track Your Order</a>
				<a class="footer-site-link" href="#">Return &amp; Exchanges</a>
				<a class="footer-site-link" href="#">Terms &amp; Conditions</a>
				<a class="footer-site-link" href="#">Promotion Terms &amp; Conditions</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Discover More</div>
				<a class="footer-site-link" href="#">Find a Store</a>
				<a class="footer-site-link" href="#">Buying Guide</a>
				<a class="footer-site-link" href="#">Transmart App</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">About Transmart</div>
				<a class="footer-site-link" href="#">Find a Store</a>
				<a class="footer-site-link" href="#">Buying Guide</a>
				<a class="footer-site-link" href="#">Transmart App</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Get Connected</div>
				<div class="footer-site-columns fourColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-facebook.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-instagram.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-twitter.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-youtube.svg" />
						</a></div>
				</div>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Payment Options</div>
				<div class="footer-site-columns twoColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-visa.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-mastercard.svg" />
						</a></div>
				</div>
				<div class="footer-site-columns twoColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-bank-transfer.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-atm-bersama.svg" />
						</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-note">
		<div class="container">
			<div class="footer-note-text">© Copyright Transmart Indonesia 2019. All Rights Reserved.</div>
		</div>
	</div>
</footer>
<script src="../assets/javascripts/vendor.js"></script>
<script src="../assets/javascripts/main.js"></script>
</body>

</html>