<!doctype html>
	<html lang="ID" itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta charset="utf-8">
		<title>Transmart | Where Everyone is happyyoyoy</title>
		<link rel="stylesheet" href="../assets/stylesheets/main.css">
  </head>
<body>
	<div class="overlay jsOverlay"></div>
	<div class="siteheader jsSiteheader">
  <div class="container">
    <a href="#" class="siteheader-download">Download Transmart App</a>
    <div class="siteheader-localization">
      <span class="is-active">Indonesia</span>
      <span class="divider">|</span>
      <a href="#">English</a>
    </div>
  </div>
</div>	<header class="navbar jsNavbar">
  <div class="navbar-wrapper jsNavbarWrapper"></div>
  <div class="navbar-topLayer">
    <div class="container">
      <div class="navbar-anchor">
        <div class="navbar-top jsNavbarTop">
          <a href="#" class="navbar-logo">
            <h1>Transmart</h1>
          </a>
          <div class="navbar-search">
            <div class="navbar-search-group">
              <select class="jsResizeSelect">
                <option>All</option>
                <option>Groceries</option>
                <option>Mother &amp; Baby</option>
                <option>Furniture &amp; Home Decor</option>
              </select>
              <div class="navbar-search-input">
                <input type="text" placeholder="What would you like to buy">
                <button class="btn-icon">
                  <i class="icon ic-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="navbar-cart jsNavbarCart">
            <button class="btn-icon jsNavbarCartButton">
              <i class="icon ic-cart">
                <span class="notif">3</span>
              </i>
            </button>
          </div>
          <div class="navbar-wishlist jsNavbarWishlist">
            <button class="btn-icon jsNavbarWishlistButton">
              <i class="icon ic-wishlist">
                <span class="notif">5</span>
              </i>
            </button>
          </div>
          <div class="navbar-notification jsNavbarNotification">
            <button class="btn-icon jsNavbarNotification">
              <i class="icon ic-notification">
                <span class="notif">12</span>
              </i>
            </button>
          </div>
          <div class="navbar-findStore">
            <a class="navbar-link" href="#">Find a store</a>
          </div>
          <div class="navbar-line"></div>
          <div class="navbar-user jsNavbarUser">
            <a href="#" class="navbar-user-link jsNavbarUserLink">
              <i class="icon ic-user"></i>
              <span>Rosita Dewi</span>
              <i class="triangle triangle-down"></i>
            </a>
            <div class="dropdown dropdown-user jsNavbarUserDropdown">
              <div class="dropdown-wrapper">
                <a href="#" class="dropdown-link">
                  <i class="icon ic-user"></i>
                  <div class="dropdown-menu">My Account</div>
                </a>
                <a href="#" class="dropdown-link">
                  <i class="icon ic-prize"></i>
                  <div class="dropdown-menu">My Order</div>
                </a>
                <div class="dropdown-menu-line"></div>
                <a href="#" class="dropdown-link">
                  <i class="icon ic-search"></i>
                  <div class="dropdown-menu">CT Cash</div>
                </a>
                <a href="#" class="dropdown-link">
                  <i class="icon ic-card"></i>
                  <div class="dropdown-menu">Voucher</div>
                </a>
                <div class="dropdown-menu-line"></div>
                <a href="#" class="dropdown-button btn-outline">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-midLayer">
    <div class="container">
      <div class="navbar-bot">
        <div class="navbar-category">
          <i></i>
          <a href="#">All Categories</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Groceries</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Mother &amp; Baby</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Furniture &amp; Home Decor</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Today's Deals</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Premium Computer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-border"></div>
  <div class="navbar-botLayer">
    <div class="container">
      <div class="navbar-foot">
        <i class="icon ic-delivery"></i>
        <span>Fast &amp; trackable with same day delivery</span>
      </div>
      <div class="navbar-foot">
        <i class="icon ic-prize"></i>
        <span>Deliver to address or pick up in store</span>
      </div>
      <div class="navbar-foot">
        <i class="icon ic-card"></i>
        <span>Disc. 10% with Bank Mega credit card</span>
      </div>
    </div>
  </div>
</header>	
	<div class="hero">
		<div class="hero-swiper swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../assets/images/image-hero.jpg" />
				</div>
				<div class="swiper-slide">
					<img src="../assets/images/image-hero.jpg" />
				</div>
				<div class="swiper-slide">
					<img src="../assets/images/image-hero.jpg" />
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="featured">
  <div class="container">
    <div class="featured-pickup">
      <div class="featured-pickup-content">
        <div class="featured-pickup-heading">Free pick-up in store<br />Shop online, pick up today</div>
        <a href="#" class="btn btn-primary">Shop Now</a>
        <div class="featured-pickup-location">
          <div class="featured-pickup-location-icon">
            <i class="icon ic-location"></i>
          </div>
          <div class="featured-pickup-location-content">
            <div class="featured-pickup-location-store">Transmart Cempaka Putih</div>
            <div class="featured-pickup-location-address">Jl.Jendral Ahmad Yani No.83 Jakarta Pusat</div>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-categories">
      <div class="featured-title">Selected Categories</div>
      <div class="featured-container">
        <div class="featured-item">
          <div class="category">
            <div class="category-thumbnail">
              <img src="../assets/images/thumbnail-category-household.png" />
            </div>
            <div class="category-name">Household</div>
          </div>
        </div>
        <div class="featured-item">
          <div class="category">
            <div class="category-thumbnail">
              <img src="../assets/images/thumbnail-category-mother-baby.png" />
            </div>
            <div class="category-name">Mother &amp; Baby</div>
          </div>
        </div>
        <div class="featured-item">
          <div class="category">
            <div class="category-thumbnail">
              <img src="../assets/images/thumbnail-category-sports.png" />
            </div>
            <div class="category-name">Sports</div>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-picks">
      <div class="featured-title">Selected Picks</div>
      <div class="featured-container">
        <div class="featured-item">
          <div class="product">
            <div class="product-image">
              <img src="../assets/images/image-product-1.png" />
            </div>
            <div class="product-name">Samsung A3</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
        <div class="featured-item">
          <div class="product">
            <div class="product-image">
              <img src="../assets/images/image-product-2.png" />
            </div>
            <div class="product-name">Samsung A3</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
        <div class="featured-item">
          <div class="product">
            <div class="product-image">
              <img src="../assets/images/image-product-3.png" />
            </div>
            <div class="product-name">Samsung A3</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	<div class="section surprise">
  <div class="container">
    <div class="section-header">
      <div class="section-header-info">
        <div class="section-header-title">Surprise Deals</div>
        <div class="surprise-timer jsSurpriseTime">
          <div class="surprise-timer-box">
            <span class="jsSurpriseTimerHour">82</span>
          </div>
          <div class="surprise-timer-dot">:</div>
          <div class="surprise-timer-box">
            <span class="jsSurpriseTimerMinute">12</span>
          </div>
          <div class="surprise-timer-dot">:</div>
          <div class="surprise-timer-box">
            <span class="jsSurpriseTimerSecond">03</span>
          </div>
        </div>
      </div>
      <a href="#" class="section-link link">See all</a>
    </div>
    <div class="section-content fiveColumns">
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-4.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-4.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-5.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Mie Sedap Tasty Asli Punya Pedes Guri Mantap</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-6.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-1.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	<div class="section-line"></div>
	<div class="section popular">
  <div class="container">
    <div class="section-header">
      <div class="section-header-info">
        <div class="section-header-title">Most Popular</div>
      </div>
      <a href="#" class="section-link link">See all</a>
    </div>
    <div class="section-content fiveColumns">
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-4.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-4.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-5.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Mie Sedap Tasty Asli Punya Pedes Guri Mantap</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-6.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="product-box">
          <div class="product-image">
            <img src="../assets/images/image-product-1.png" />
          </div>
          <div class="product-info">
            <div class="product-stock">5 left</div>
            <div class="product-name">Samsung A3</div>
            <div class="product-priceBefore">Rp. 250.000</div>
            <div class="product-price">Rp. 250.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	<div class="section reorder">
  <div class="container">
    <div class="section-header">
      <div class="section-header-info">
        <div class="section-header-title">Reorder Quickly</div>
      </div>
      <a href="#" class="section-link link">See all</a>
    </div>
    <div class="section-content threeColumns">
      <div class="section-grid">
        <div class="reorder-card">
          <div class="reorder-header">
            <div class="reorder-date">22 October 2019</div>
            <div class="reorder-line"></div>
            <div class="reorder-cost">
              <label>Total</label>
              <span>Rp 643.350</span>
            </div>
          </div>
          <div class="reorder-list">
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-1.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-2.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-3.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-4.png">
              </div>
            </div>
            <div class="reorder-item reorder-itemLink">
              <a class="link" href="">+22 <br /> items</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="reorder-card">
          <div class="reorder-header">
            <div class="reorder-date">22 October 2019</div>
            <div class="reorder-line"></div>
            <div class="reorder-cost">
              <label>Total</label>
              <span>Rp 643.350</span>
            </div>
          </div>
          <div class="reorder-list">
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-1.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-2.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-3.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-4.png">
              </div>
            </div>
            <div class="reorder-item reorder-itemLink">
              <a class="link" href="">+22 <br /> items</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section-grid">
        <div class="reorder-card">
          <div class="reorder-header">
            <div class="reorder-date">22 October 2019</div>
            <div class="reorder-line"></div>
            <div class="reorder-cost">
              <label>Total</label>
              <span>Rp 643.350</span>
            </div>
          </div>
          <div class="reorder-list">
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-1.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-2.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-3.png">
              </div>
            </div>
            <div class="reorder-item">
              <div class="reorder-itemImage">
                <img src="../assets/images/image-product-4.png">
              </div>
            </div>
            <div class="reorder-item reorder-itemLink">
              <a class="link" href="">+22 <br /> items</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	<div class="section inspire">
  <div class="container">
    <div class="section-header">
      <div class="section-header-info">
        <div class="section-header-title">Inspire Me</div>
      </div>
      <a href="#" class="section-link link">See all</a>
    </div>
    <div class="section-content">
      <div class="inspire-grid-big">
        <a href="#" class="inspire-card">
          <div class="inspire-image">
            <img src="../assets/images/image-inspire-1.jpg" />
          </div>
          <div class="inspire-info">
            <div class="inspire-title">Fun Lunch Box for Kids</div>
            <div class="inspire-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam in
              omnis fugit beatae laborum quibusdam. Accusantium quis eaque ullam quia similique, aspernatur sunt nam?
              Dolores veniam nisi qui sequi nemo.</div>
          </div>
        </a>
      </div>
      <div class="inspire-grid-wrapper">
        <div class="inspire-grid-list">
          <div class="inspire-grid">
            <a href="#" class="inspire-card">
              <div class="inspire-image">
                <img src="../assets/images/image-inspire-2.jpg" />
              </div>
              <div class="inspire-info">
                <div class="inspire-title">Fun Lunch Box for Kids</div>
                <div class="inspire-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam in
                  omnis fugit
                  beatae laborum quibusdam. Accusantium quis eaque ullam quia similique, aspernatur sunt nam? Dolores
                  veniam nisi qui
                  sequi nemo.</div>
              </div>
            </a>
          </div>
          <div class="inspire-grid">
            <a href="#" class="inspire-card">
              <div class="inspire-image">
                <img src="../assets/images/image-inspire-1.jpg" />
              </div>
              <div class="inspire-info">
                <div class="inspire-title">Fun Lunch Box for Kids</div>
                <div class="inspire-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam in
                  omnis fugit
                  beatae laborum quibusdam. Accusantium quis eaque ullam quia similique, aspernatur sunt nam? Dolores
                  veniam nisi
                  qui
                  sequi nemo.</div>
              </div>
            </a>
          </div>
          <div class="inspire-grid">
            <a href="#" class="inspire-card">
              <div class="inspire-image">
                <img src="../assets/images/image-inspire-2.jpg" />
              </div>
              <div class="inspire-info">
                <div class="inspire-title">Fun Lunch Box for Kids</div>
                <div class="inspire-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam in
                  omnis fugit
                  beatae laborum quibusdam. Accusantium quis eaque ullam quia similique, aspernatur sunt nam? Dolores
                  veniam nisi
                  qui
                  sequi nemo.</div>
              </div>
            </a>
          </div>
          <div class="inspire-grid">
            <a href="#" class="inspire-card">
              <div class="inspire-image">
                <img src="../assets/images/image-inspire-1.jpg" />
              </div>
              <div class="inspire-info">
                <div class="inspire-title">Fun Lunch Box for Kids</div>
                <div class="inspire-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam in
                  omnis fugit
                  beatae laborum quibusdam. Accusantium quis eaque ullam quia similique, aspernatur sunt nam? Dolores
                  veniam nisi
                  qui
                  sequi nemo.</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	<footer class="footer">
	<div class="footer-site">
		<div class="container">
			<div class="footer-site-list">
				<div class="footer-site-heading">Customer Service</div>
				<a class="footer-site-link" href="#">Contact Us</a>
				<a class="footer-site-link" href="#">FAQS</a>
				<a class="footer-site-link" href="#">Payment Method</a>
				<a class="footer-site-link" href="#">Delivery Information</a>
				<a class="footer-site-link" href="#">Track Your Order</a>
				<a class="footer-site-link" href="#">Return &amp; Exchanges</a>
				<a class="footer-site-link" href="#">Terms &amp; Conditions</a>
				<a class="footer-site-link" href="#">Promotion Terms &amp; Conditions</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Discover More</div>
				<a class="footer-site-link" href="#">Find a Store</a>
				<a class="footer-site-link" href="#">Buying Guide</a>
				<a class="footer-site-link" href="#">Transmart App</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">About Transmart</div>
				<a class="footer-site-link" href="#">Find a Store</a>
				<a class="footer-site-link" href="#">Buying Guide</a>
				<a class="footer-site-link" href="#">Transmart App</a>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Get Connected</div>
				<div class="footer-site-columns fourColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-facebook.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-instagram.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-twitter.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/ic-social-youtube.svg" />
						</a></div>
				</div>
			</div>
			<div class="footer-site-list">
				<div class="footer-site-heading">Payment Options</div>
				<div class="footer-site-columns twoColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-visa.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-mastercard.svg" />
						</a></div>
				</div>
				<div class="footer-site-columns twoColumns">
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-bank-transfer.svg" />
						</a></div>
					<div class="footer-site-column"><a class="footer-site-link" href="#">
							<img src="../assets/images/logo-payment-atm-bersama.svg" />
						</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-note">
		<div class="container">
			<div class="footer-note-text">© Copyright Transmart Indonesia 2019. All Rights Reserved.</div>
		</div>
	</div>
</footer>
<script src="../assets/javascripts/vendor.js"></script>
<script src="../assets/javascripts/main.js"></script>
</body>

</html>