<header class="navbar jsNavbar">
  <div class="navbar-wrapper jsNavbarWrapper"></div>
  <div class="navbar-topLayer">
    <div class="container">
      <div class="navbar-anchor">
        <div class="navbar-top jsNavbarTop">
          <a href="#" class="navbar-logo">
            <h1>Transmart</h1>
          </a>
          <div class="navbar-search">
            <div class="navbar-search-group">
              <select class="jsResizeSelect">
                <option>All</option>
                <option>Groceries</option>
                <option>Mother &amp; Baby</option>
                <option>Furniture &amp; Home Decor</option>
              </select>
              <div class="navbar-search-input">
                <input type="text" placeholder="What would you like to buy">
                <button class="btn-icon">
                  <i class="icon ic-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="navbar-cart">
            <button class="btn-icon">
              <i class="icon ic-cart">
                <span class="notif">3</span>
              </i>
            </button>
          </div>
          <div class="navbar-wishlist">
            <button class="btn-icon">
              <i class="icon ic-wishlist">
                <span class="notif">5</span>
              </i>
            </button>
          </div>
          <div class="navbar-notification">
            <button class="btn-icon">
              <i class="icon ic-notification">
                <span class="notif">12</span>
              </i>
            </button>
          </div>
          <div class="navbar-findStore">
            <a class="navbar-link" href="#">Find a store</a>
          </div>
          <div class="navbar-line"></div>
          <div class="navbar-signIn">
            <a class="navbar-link" href="#">Sign in</a>
          </div>
          <div class="navbar-register">
            <button class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
      <div class="navbar-bot">
        <div class="navbar-category">
          <i></i>
          <a href="#">All Categories</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Groceries</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Mother &amp; Baby</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Furniture &amp; Home Decor</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Today's Deals</a>
        </div>
        <div class="navbar-featured">
          <a href="#">Premium Computer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-border"></div>
  <div class="navbar-botLayer">
    <div class="container">
      <div class="navbar-foot">
        <i class="icon ic-delivery"></i>
        <span>Fast &amp; trackable with same day delivery</span>
      </div>
      <div class="navbar-foot">
        <i class="icon ic-prize"></i>
        <span>Deliver to address or pick up in store</span>
      </div>
      <div class="navbar-foot">
        <i class="icon ic-card"></i>
        <span>Disc. 10% with Bank Mega credit card</span>
      </div>
    </div>
  </div>
</header>