<div class="promo section">
  <div class="container">
    <div class="section-header">
      <div class="section-header-info">
        <div class="section-header-title">Latest Promo</div>
      </div>
      <a href="#" class="section-link link">See all</a>
    </div>
    <div class="section-content threeColumns">
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image"><img src="../assets/images/image-promo-1.jpg" /></div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care and Cosmetics</div>
        </div>
      </div>
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image">
            <img src="../assets/images/image-promo-2.jpg" />
          </div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care</div>
        </div>
      </div>
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image">
            <img src="../assets/images/image-promo-3.jpg" />
          </div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care</div>
        </div>
      </div>
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image">
            <img src="../assets/images/image-promo-1.jpg" />
          </div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care</div>
        </div>
      </div>
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image">
            <img src="../assets/images/image-promo-2.jpg" />
          </div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care</div>
        </div>
      </div>
      <div class="section-grid">
        <div class="promo-card">
          <div class="promo-image">
            <img src="../assets/images/image-promo-3.jpg" />
          </div>
          <div class="promo-title">Up to 50&amp; for new collection of Skin Care</div>
        </div>
      </div>
    </div>
  </div>
</div>